<h1>Content of folder <%= params[:path] %></h1>
<h2>Files</h2>
<p>
  <table>
  <% if (params[:path] != '.') %>
    <tr>
      <td><%= link_to "..", :path => params[:path] + "/.." %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  <% @items.each do |item| %>
    <% name = item.properties.displayname %>
    <% if (item.type == :directory)
         name += "/"
       end %>
    <tr>
      <td><%= link_to name, :path => params[:path] + "/" + name %></td>
      <td><%= item.properties.creationdate.to_s %></td>
      <td><%= item.properties.lastmodificationdate.to_s %></td>
    </tr>
  <% end %>
  </table>
</p>
